
version 12.2
!
hostname S1
!
ip routing
ipv6 unicast-routing
!
!
interface FastEthernet0/1
 no switchport
 ip address 192.168.3.2 255.255.255.0
 ipv6 address 2001:DB8:ACAD:D::2/64
 ipv6 ospf 1 area 0
!
interface FastEthernet0/2
 no switchport
 ip address 192.168.2.3 255.255.255.0
 ipv6 address 2001:DB8:ACAD:C::3/64
 ipv6 ospf 1 area 2
!
router ospf 1
 log-adjacency-changes
 network 192.168.2.0 0.0.0.255 area 2
 network 192.168.3.0 0.0.0.255 area 0
!
ipv6 router ospf 1
 log-adjacency-changes
!
!
line con 0
 password goodpassword
!
end
